package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

import jakarta.persistence.*;
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.Builder;

import java.util.*;

{{#isAuditable}}
import {{base}}.shared.infrastructure.audit.AbstractAuditableEntity;
import {{base}}.shared.infrastructure.audit.AuditListener;
{{/isAuditable}}

@Getter
@Setter
@AllArgsConstructor
@NoArgsConstructor
@Builder
@Entity
{{#isAuditable}}
@EntityListeners(AuditListener.class)
{{/isAuditable}}
@Table(name = "{{tableName}}")
public class {{entity}} {{#isAuditable}}  extends AbstractAuditableEntity {{/isAuditable}} {

	@Id
	private String id;

{{#fields}}
{{^isId}}
{{#relation}}
{{#isOneToMany}}
	@OneToMany(mappedBy = "{{entityLowerCase}}",fetch = FetchType.EAGER, cascade = CascadeType.ALL)
	private {{{realType}}} {{nameLowerCase}} = new HashSet<>();
{{/isOneToMany}}
{{#isManyToOne}}
	@ManyToOne
	@JoinColumn(name = "{{nameLowerCase}}_id", nullable = {{nullable}})
	private {{realType}} {{nameLowerCase}};
{{/isManyToOne}}
{{/relation}}
{{^relation}}
	@Column(nullable = {{nullable}}, unique = {{unique}}  {{#size}}, length = {{size}}{{/size}}  )
	private {{primitiveType}} {{nameLowerCase}};
{{/relation}}
{{/isId}}
{{/fields}}
	public {{entity}}(String id) {
		this.id = id;
	}

	@Override
 	public String toString() {
		return "{{entity}}{" +
		"id='" + id + '\'' +
		{{#fields}}
		{{^isId}}
			", {{nameLowerCase}}=" + {{nameLowerCase}} +
		{{/isId}}
		{{/fields}}
		'}';
	}
}
