package {{package}};

{{#imports}}
import {{.}};
{{/imports}}
import jakarta.persistence.*;
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import java.util.*;

@Getter
@Setter
@AllArgsConstructor
@NoArgsConstructor
@Entity
@Table(name = "{{tableName}}")
public class {{entity}} {

	@Id
	private String id;
{{#fields}}
{{^isId}}
{{#relation}}
{{#isOneToMany}}
	@OneToMany(mappedBy = "{{entityLowerCase}}", cascade = CascadeType.ALL)
	private {{{realType}}} {{nameLowerCase}} = new ArrayList<>();
{{/isOneToMany}}
{{#isManyToOne}}
	@ManyToOne
	@JoinColumn(name = "{{nameLowerCase}}_id", nullable = false)
	private {{realType}} {{nameLowerCase}};
{{/isManyToOne}}
{{/relation}}
{{^relation}}
	@Column(nullable = false)
	private {{primitiveType}} {{name}};
{{/relation}}
{{/isId}}
{{/fields}}

	public {{entity}}(String id) {
		this.id = id;
	}

}
