package {{package}};

{{#imports}}
import {{.}};
{{/imports}}
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.Query;
import org.springframework.stereotype.Repository;

import java.util.List;
import java.util.Optional;

@Repository
public interface {{name}}Repository extends JpaRepository<{{entityName}}, String> {

	//Page<{{entityName}}> findAll(Pageable pageable);

	//Optional<{{entityName}}> findById(String id);

	Optional<{{entityName}}> findByIdAndCreatedById(String id, String createdById);

	Page<{{entityName}}> findByCreatedById(Pageable pageable, String createdById);

{{#isMultiTenant}}
	Page<{{entityName}}> findAllByTenantId(Pageable pageable, String tenantId);
{{/isMultiTenant}}

{{#fields}}
	{{^isId}}
	{{^isUnique}}

	List<{{entityName}}> findBy{{nameJpa}}AndCreatedById({{primitiveType}} {{nameLowerCase}}, String createdById);
	{{/isUnique}}
	{{#isUnique}}

	Optional<{{entityName}}> findBy{{nameJpa}}({{primitiveType}} {{nameLowerCase}});
	Optional<{{entityName}}> findBy{{nameJpa}}AndCreatedById({{primitiveType}} {{nameLowerCase}}, String createdById);

	{{/isUnique}}
	Optional<{{entityName}}> findBy{{nameJpa}}AndTenantName({{primitiveType}} {{nameLowerCase}}, String tenantName);
	Optional<{{entityName}}> findBy{{nameJpa}}AndTenantId({{primitiveType}} {{nameLowerCase}}, String tenantId);
	{{/isId}}
{{/fields}}


}
