{{#fields}}
{{#isManyToOne}}
import {{openOne}} {{nameCapitalized}} } from '../../{{name}}/models/{{name}}.model';
{{/isManyToOne}}
{{/fields}}

export type Type{{entity}} = 'TYPE1' | 'TYPE2';

export interface {{entity}} {
    {{#fields}}
    {{name}}{{#nullable}}?{{/nullable}}: {{type}};
    {{#isManyToOne}}
    {{name}}Model?: {{nameCapitalized}};
    {{/isManyToOne}}
    {{/fields}}
}

