import { Routes } from '@angular/router';
import { authGuard } from '../../shared/security/guard/auth.guard';

export const {{entityLowerCase}}Routes: Routes = [
  {
    path: '{{entityLowerCase}}',
    canActivate: [authGuard],
    loadComponent: () =>
      import('./components/{{entityLowerCase}}-list.component').then(m => m.{{entity}}ListComponent),
  },
  {
    path: '{{entityLowerCase}}/new',
    canActivate: [authGuard],
    loadComponent: () =>
      import('./components/{{entityLowerCase}}-form.component').then(m => m.{{entity}}FormComponent),
  },
  {
    path: '{{entityLowerCase}}/:id/edit',
    canActivate: [authGuard],
    loadComponent: () =>
      import('./components/{{entityLowerCase}}-form.component').then(m => m.{{entity}}FormComponent),
  },
    {
    path: '{{entityLowerCase}}/:id/view',
    canActivate: [authGuard],
    loadComponent: () =>
      import('./components/{{entityLowerCase}}-view.component').then(m => m.{{entity}}ViewComponent),
  }
  {{#hasSummary}}
  ,
   {
    path: '{{entityLowerCase}}/dashboard',
    canActivate: [authGuard],
    loadComponent: () =>
      import('./components/dashboard.component').then(m => m.DashboardComponent),
  }
    {{/hasSummary}}
];
