import SwiftData
import Foundation

struct {{entity}}PagedResponse: Decodable {
let content: [Remote{{entity}}]
}

struct Remote{{entity}}: Decodable {
{{#fields}}
{{^isManyToOne}}
	let {{name}}: {{realType}}{{#nullable}}?{{/nullable}}
{{/isManyToOne}}
{{#isManyToOne}}
	let {{name}}: String?
{{/isManyToOne}}
{{/fields}}
let createdBy: String?
let tenant: String?
}
