package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

public class {{name}}NotFoundException extends RuntimeException {

public {{name}}NotFoundException(String object, String value) {
super("{{name}} with "+object+": '" + value + "' not found");
}
}
