package {{package}};

{{#imports}}
import {{.}};
{{/imports}}


public interface MailSender {
	void send(String from, String to, String subject, String content);
	boolean isValidEmail(String email);
}

