package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

import java.io.Serializable;
import lombok.Getter;
import lombok.Setter;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.NoArgsConstructor;

import java.time.*;
import java.util.*;

@Getter
@Setter
@NoArgsConstructor
@Builder
public class {{voName}} implements Serializable {

private {{type}} {{name}};

public {{voName}}({{type}} {{name}}) {
this.{{name}} = {{name}};
}

public static {{voName}} create({{type}} {{name}}) {

{{#nullable}}
	return new {{voName}}({{name}});
{{/nullable}}
{{^nullable}}
if ({{{invalidCondition}}}) {
throw new {{exceptionName}}("{{exceptionMessage}}");
}
return new {{voName}}({{name}});
{{/nullable}}
}

public {{type}} value() {
return this.{{name}};
}

@Override
public boolean equals(Object o) {
if (this == o) return true;
if (!(o instanceof {{voName}} that)) return false;
return {{{equalsExpression}}};
}

@Override
public int hashCode() {
return {{{hashCodeExpression}}};
}

@Override
public String toString() {
return String.valueOf({{name}});
}
}
