package {{package}};

{{#imports}}
import {{.}};
{{/imports}}


public class {{className}} extends BaseUnitTests {

@Test
void it_should_create_{{lowerName}}_with_valid_values() {
{{#fields}}
	{{type}} {{name}} = {{type}}.create({{{testDomainValue}}});
{{/fields}}
	{{aggregateName}} aggregate{{aggregateName}} = new {{aggregateName}}({{#fields}}{{name}}{{^last}}, {{/last}}{{/fields}});
	assertThat(aggregate{{aggregateName}}.getId()).isNotNull();
{{#fields}}
	assertThat(aggregate{{aggregateName}}.get{{nameCapitalized}}()).isEqualTo({{name}});
{{/fields}}
}

{{#editableFields}}
	{{#hasValidation}}
	{{^nullable}}
		@Test
		void it_should_throw_when_{{name}}_is_invalid() {
		{{exceptionName}} error = assertThrows({{exceptionName}}.class, () -> {{type}}.create({{{errorTestValue}}}));
		assertThat(error.getMessage()).isEqualTo("{{errorMessage}}");
		}
	{{/nullable}}
	{{/hasValidation}}
{{/editableFields}}

}
