package {{package}};

{{#imports}}
import {{.}};
{{/imports}}
import java.io.Serializable;
import java.util.concurrent.ThreadLocalRandom;
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.Builder;
import io.swagger.v3.oas.annotations.media.Schema;

@Getter
@Setter
@AllArgsConstructor
@NoArgsConstructor
@Builder
@Schema(name = "{{className}}", description = "Delta DTO for {{nameLowercase}} changes")
public class {{className}} implements Serializable {

    @Schema(description = "Identifier of the {{nameLowercase}}", example = "uuid")
    private String id;

    @Schema(description = "Change type: CREATE, UPDATE, DELETE, default CREATE", example = "CREATE")
	@Builder.Default
    private String type = "CREATE";

	{{#editableFields}}
		{{^isId}}
		@Schema(description = "{{description}}", example = "{{{primitiveValue}}}")
		private {{primitiveType}} {{name}};
		{{/isId}}
	{{/editableFields}}

}
