package {{package}};

{{#imports}}
import {{.}};
{{/imports}}
import java.io.Serializable;
import java.util.concurrent.ThreadLocalRandom;
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.Builder;
import io.swagger.v3.oas.annotations.media.Schema;

@Getter
@Setter
@AllArgsConstructor
@NoArgsConstructor
@Builder
@Schema(name = "{{name}}Request", description = "Request payload for {{name}} operations")
public class {{name}}Request implements Serializable {

{{#editableFields}}
	{{^isId}}
	@Schema(description = "{{description}}", example = "{{{primitiveValue}}}")
	private {{primitiveType}} {{name}};

	{{/isId}}
{{/editableFields}}

}
