package {{package}};

{{#imports}}
import {{.}};
{{/imports}}
import java.util.List;
import java.io.Serializable;
import java.util.concurrent.ThreadLocalRandom;
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.Builder;
import io.swagger.v3.oas.annotations.media.Schema;

@Getter
@Setter
@AllArgsConstructor
@NoArgsConstructor
@Builder

@Schema(name = "{{className}}", description = "Request payload for synchronizing {{nameLowercase}}s")
public class {{className}} implements Serializable {

@Schema(description = "Batch of {{nameLowercase}} deltas")
private List<{{name}}DeltaDto> deltas;
	}

