package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

import org.axonframework.queryhandling.QueryHandler;
import org.springframework.stereotype.Component;
import java.util.List;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageRequest;
import lombok.extern.slf4j.Slf4j;


@Slf4j
@Component
public class FindAll{{nameAggregate}}QueryHandler {

private final {{nameAggregate}}Repository repository;

public FindAll{{nameAggregate}}QueryHandler({{nameAggregate}}Repository repository) {
	this.repository = repository;
}

@QueryHandler
public {{nameAggregate}}PagedResponse handle(FindAll{{nameAggregate}}Query query) {
int limit = query.getLimit();
int offset = query.getPage() * limit;
MetaRequest metaRequest = query.getMetaRequest();

PageRequest pageable = PageRequest.of(offset / limit, limit);
Page<{{entity}}> pages = null;

if(metaRequest.isAdmin()) {

 log.info("Admin user, fetching all {{nameAggregate}}s");
	pages = repository.findAllByTenantId( metaRequest.getTenantId(),pageable);
}else{

log.info("User, fetching own  ");
pages = repository.findByCreatedById(metaRequest.getUserId(),pageable);


}

List<{{nameAggregate}}Response> responses = pages.stream()
	.map({{nameAggregate}}Mapper::toResponse)
	.toList();

	return {{nameAggregate}}PagedResponse.from(
	pages,
	responses
	);
	}
}
