package {{package}};
{{#imports}}
import {{.}};
{{/imports}}
import lombok.AllArgsConstructor;
import lombok.Getter;

@Getter
@AllArgsConstructor
public class FindAll{{name}}Query {

private final int page;
private final int limit;

}
