package {{package}};

{{#imports}}
import {{.}};
{{/imports}}
import lombok.*;

@RequiredArgsConstructor
@Getter
@Setter
@Builder
public class {{className}} {

	private final {{name}}{{field.nameCapitalized}}  {{field.name}};
	private final MetaRequest metaRequest;

}
