package {{package}};

{{#imports}}
	import {{.}};
{{/imports}}

public class {{name}}Mapper {

public static {{name}}Response toResponse({{name}} entity) {
return {{name}}Response.builder()
{{#editableFields}}
	{{#isManyToOne}}
		.{{nameUnCapitalized}}(entity.get{{nameCapitalized}}().getId())
	{{/isManyToOne}}
	{{^isManyToOne}}
		.{{nameUnCapitalized}}(entity.get{{nameCapitalized}}())
	{{/isManyToOne}}
{{/editableFields}}
.build();
}

public static {{name}}Response toResponse(Create{{name}}Command command) {
return {{name}}Response.builder()
{{#editableFields}}
	.{{nameUnCapitalized}}(command.get{{nameCapitalized}}().value())
{{/editableFields}}
.build();
}

public static {{name}}Response toResponse(Update{{name}}Command command) {
return {{name}}Response.builder()
{{#editableFields}}
	.{{nameUnCapitalized}}(command.get{{nameCapitalized}}().value())
{{/editableFields}}
.build();
}

public static Create{{name}}Command toCommand(
{{name}}Request request{{#hasFiles}}, {{#fieldFiles}}{{type}} {{nameUnCapitalized}}{{^last}}, {{/last}}{{/fieldFiles}}{{/hasFiles}}
) {
return Create{{name}}Command.builder()
{{#editableFields}}{{^isId}}
	.{{nameUnCapitalized}}({{entity}}{{nameCapitalized}}.create(request.get{{nameCapitalized}}()))
{{/isId}}{{/editableFields}}{{#hasFiles}}
	{{#fieldFiles}}
		.{{nameUnCapitalized}}({{nameUnCapitalized}})
	{{/fieldFiles}}{{/hasFiles}}
.build();
}

{{^hasFiles}}
	public static Update{{name}}Command toUpdateCommand({{name}}Id id, {{name}}Request request) {
	return Update{{name}}Command.builder()
	.id(id)
	{{#editableFields}}{{^isId}}
		.{{nameUnCapitalized}}({{entity}}{{nameCapitalized}}.create(request.get{{nameCapitalized}}()))
	{{/isId}}{{/editableFields}}
	.build();
	}
{{/hasFiles}}

{{#hasFiles}}
	public static Update{{name}}Command toUpdateCommand(
	{{name}}Id id,
	{{name}}Request request,
	{{#editableFields}}{{entity}}{{nameCapitalized}} {{nameUnCapitalized}}{{^last}}, {{/last}}{{/editableFields}}
	) {
	return Update{{name}}Command.builder()
	.id(id)
	{{#editableFields}}{{^isId}}
		.{{nameUnCapitalized}}({{entity}}{{nameCapitalized}}.create(request.get{{nameCapitalized}}()))
	{{/isId}}{{/editableFields}}
	{{#editableFields}}
		.{{nameUnCapitalized}}({{nameUnCapitalized}})
	{{/editableFields}}
	.build();
	}
{{/hasFiles}}

public static Delete{{name}}Command toDeleteCommand({{name}}Id id) {
return Delete{{name}}Command.builder()
.id(id)
.build();
}
}
