import SwiftUI

struct {{entity}}MenuView: View {
    @Binding var showingTrash: Bool
    @Binding var isSyncing: Bool
    @Binding var showForm: Bool
     let pushAction: () async -> Void
    let pullAction: () async -> Void
    let syncAction: () async -> Void

     @Binding var showSearch: Bool
     @ObservedObject var network = NetworkMonitor.shared

    @AppStorage("autoSave{{entity}}") private var autoSave: Bool = true

    var effectiveAutoSave: Bool {
        autoSave
    }

    var body: some View {
        Menu {

        Button {
                showSearch = true
            } label: {
                Label(t("Rechercher"), systemImage: "magnifyingglass")
            }

            Button {
                withAnimation { showingTrash.toggle() }
            } label: {
                Label(showingTrash ? t("Liste") : t("Corbeille"), systemImage: "tray")
            }

            if !showingTrash {

             Button {
                    Task {
                        isSyncing = true
                        await pushAction()
                        isSyncing = false
                    }
                } label: {
                    Label(t("Envoyer (Push)"), systemImage: "arrow.up.circle.fill")
                }.disabled(network.isAppOffline)

                Button {
                    Task {
                        isSyncing = true
                        await pullAction()
                        isSyncing = false
                    }
                } label: {
                    Label(t("Récupérer (Pull)"), systemImage: "arrow.down.circle.fill")
                }.disabled(network.isAppOffline)

                Button {
                    Task {
                        isSyncing = true
                        await syncAction()
                        isSyncing = false
                    }
                } label: {
                    Label(t("Synchroniser"), systemImage: "arrow.triangle.2.circlepath")
                }.disabled(network.isAppOffline)

                {{^isChat}}
                Button { showForm = true } label: {
                    Label(t("Ajouter {{entity}}"), systemImage: "plus")
                }
                {{/isChat}}

            }

            Toggle(isOn: $autoSave) {
                Label(t("Sauvegarde auto"), systemImage: effectiveAutoSave ? "checkmark.circle" : "circle")
            }
            .disabled(network.isAppOffline)



        } label: {
            Image(systemName: "ellipsis.circle")
                .font(.title2)
        }
    }
}
