import SwiftUI

struct {{entity}}MenuView: View {
    @Binding var showingTrash: Bool
    @Binding var isSyncing: Bool
    @Binding var showForm: Bool
    let syncAction: () async -> Void

     @Binding var showSearch: Bool

    var body: some View {
        Menu {

        Button {
                showSearch = true
            } label: {
                Label(t("Rechercher"), systemImage: "magnifyingglass")
            }

            Button {
                withAnimation { showingTrash.toggle() }
            } label: {
                Label(showingTrash ? t("Liste") : t("Corbeille"), systemImage: "tray")
            }

            if !showingTrash {
                Button {
                    Task {
                        isSyncing = true
                        await syncAction()
                        isSyncing = false
                    }
                } label: {
                    Label(t("Synchroniser"), systemImage: "arrow.triangle.2.circlepath")
                }

                Button { showForm = true } label: {
                    Label(t("Ajouter {{entity}}"), systemImage: "plus")
                }
            }
        } label: {
            Image(systemName: "ellipsis.circle")
                .font(.title2)
        }
    }
}
