import SwiftUI
import SwiftData

struct Search{{entity}}View: View {
    @Binding var isPresented: Bool
    @Binding var searchText: String
    @Binding var searchCriteria: {{entity}}SearchCriteria
    var onSearch: () -> Void

    @Environment(\.dismiss) var dismiss

    var body: some View {
        NavigationView {
            Form {
                Section(header: Text(t("Rechercher {{entity}}s"))) {
                    TextField(t("Text à rechercher"), text: $searchText)
                        .textFieldStyle(RoundedBorderTextFieldStyle())

                    Picker("Rechercher par", selection: $searchCriteria) {
                        ForEach({{entity}}SearchCriteria.allCases) { criteria in
                            Text(criteria.rawValue).tag(criteria)
                        }
                    }
                    .pickerStyle(SegmentedPickerStyle())
                }
            }
            .navigationTitle("Recherche")
            .toolbar {
                ToolbarItem(placement: .confirmationAction) {
                    Button("Rechercher") {
                        onSearch()
                        isPresented = false
                    }
                }
                ToolbarItem(placement: .cancellationAction) {
                    Button("Fermer") {
                        dismiss()
                    }
                }
            }
        }
    }
}
