{{#hasSummary}}
import SwiftUI

struct {{entity}}SummaryView: View {
    let {{entityLowerCase}}s: [{{entity}}]
    let defaultCurrency: String

    //type1 = IN
    //type2 = OUT

    private var totalType1: Double {
        {{entityLowerCase}}s
            .filter { $0.type{{entity}}Raw == {{entity}}Type.type1.rawValue }
            .reduce(0) { $0 + $1.amount }
    }


    private var totalType2: Double {
        {{entityLowerCase}}s
            .filter { $0.type{{entity}}Raw == {{entity}}Type.type2.rawValue }
            .reduce(0) { $0 + $1.amount }
    }

    private var difference: Double {
        totalType1 - totalType2
    }
    var body: some View {
        VStack(spacing: 8) {
            HStack {
                Text(t("Total \({{entity}}Type.type1.rawValue)"))
                Spacer()
                Text("\(totalType1, specifier: "%.0f") \(defaultCurrency)")
            }
            HStack {
                Text("Total \({{entity}}Type.type2.rawValue):")
                Spacer()
                Text("\(totalType2, specifier: "%.0f") \(defaultCurrency)")
            }
            Divider()
            HStack {
                Text("Difference:")
                    .fontWeight(.bold)
                Spacer()
                Text("\(difference, specifier: "%.0f") \(defaultCurrency)")
                    .fontWeight(.bold)
            }
        }
        .padding()
        .background(Color(UIColor.secondarySystemBackground))
        .cornerRadius(8)
        .padding(.horizontal)
    }

}
 {{/hasSummary}}
