import Foundation

enum {{entity}}SearchCriteria: String, CaseIterable, Identifiable {
    {{#fieldsDisplayed}}
    case {{nameLowerCase}}
    {{/fieldsDisplayed}}

 var id: String { rawValue }

    var title: String {
        switch self {
            {{#fieldsDisplayed}}
            case .{{nameLowerCase}}: return "{{name}}"
            {{/fieldsDisplayed}}
        }
    }
}
