package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.tags.Tag;
import io.swagger.v3.oas.annotations.responses.ApiResponse;
import io.swagger.v3.oas.annotations.responses.ApiResponses;
import io.swagger.v3.oas.annotations.media.Content;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.RequiredArgsConstructor;
import org.springframework.security.oauth2.jwt.Jwt;
import org.springframework.security.core.annotation.AuthenticationPrincipal;
import lombok.extern.slf4j.Slf4j;
import org.springframework.http.MediaType;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.*;
import org.springframework.web.multipart.MultipartFile;
import lombok.AllArgsConstructor;
import jakarta.validation.Valid;
{{#security}}
import org.springframework.security.access.prepost.PreAuthorize;
import org.springframework.security.core.Authentication;
{{/security}}

{{#security}}
@PreAuthorize("@{{nameLowercase}}Gate.canEdit(authentication, #id)")
{{/security}}
@RestController
@RequestMapping("/api/v1/commands/{{nameLowercase}}")
@Tag(name = "{{name}} commands", description = "Endpoints for managing {{nameLowercase}}s")
@Slf4j
public class Update{{name}}Controller {

private final {{name}}UpdateApplicationService applicationService;

public Update{{name}}Controller({{name}}UpdateApplicationService  applicationService) {
this.applicationService = applicationService;
}

@Operation(summary = "Update a new {{nameLowercase}}")
@ApiResponses(value = {
@ApiResponse(responseCode = "200", description = "{{name}} Updated",
content = @Content(mediaType = "application/json",
schema = @Schema(implementation = {{name}}Response.class))),
@ApiResponse(responseCode = "500", description = "Internal server error",
content = @Content)
})
@PutMapping(value="{id}",  consumes = MediaType.APPLICATION_JSON_VALUE, produces = MediaType.APPLICATION_JSON_VALUE)
public ResponseEntity<{{name}}Response> update{{name}}(
	@Valid @PathVariable String id,
	@RequestBody {{name}}Request request,
	@AuthenticationPrincipal Jwt jwt
	) { {
	try {

	{{name}}Response response = applicationService.update{{name}}({{name}}Id.create(id),
	request,
	RequestContext.getUserId(jwt) {{#isMultiTenant}},
		RequestContext.getTenantId(jwt) {{/isMultiTenant}}
	);

	return ResponseEntity.ok(response);

	} catch (Exception ex) {
	//e.printStackTrace();
	log.error("Failed to Update {{nameLowercase}}: {}", ex.getMessage(), ex);
	return ResponseEntity.internalServerError().build();
	}
	}
}
}
