package {{package}};

{{#imports}}
import {{.}};
{{/imports}}
import lombok.RequiredArgsConstructor;
import org.springframework.web.bind.annotation.*;
import org.springframework.security.core.annotation.AuthenticationPrincipal;
import io.swagger.v3.oas.annotations.tags.Tag;
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.responses.ApiResponse;
import io.swagger.v3.oas.annotations.responses.ApiResponses;
import io.swagger.v3.oas.annotations.media.Content;
import io.swagger.v3.oas.annotations.media.Schema;
import java.util.Map;

@Tag(name = "Auth", description = "Users infos")
@RestController
@RequestMapping("/api/auth")
@RequiredArgsConstructor
public class {{className}} {

	@GetMapping("/me")
	@Operation(
	summary = "Get current authenticated user",
	description = "Returns username and authorities of the current user"
	)
	@ApiResponses(value = {
	@ApiResponse(
	responseCode = "200",
	description = "User info",
	content = @Content(schema = @Schema(implementation = ApiResponseDto.class))
	),
	@ApiResponse(
	responseCode = "401",
	description = "Unauthorized"
	)
	})
		public ApiResponseDto me(@AuthenticationPrincipal UserPrincipal user) {
			return ApiResponseDto.ok(
				Map.of(
					"username", user.getUsername(),
					"roles", user.getRoles(),
					"authorities", user.getAuthorities()
				)
			);
	}
}
