package {{package}};

{{#imports}}
import {{.}};
{{/imports}}
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.Builder;
import io.swagger.v3.oas.annotations.media.Schema;
import java.io.Serializable;

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class {{className}}  implements Serializable {

	@Schema(description = "User ", example = "admin")
	private String username;
}
