package {{package}};

{{#imports}}
import {{.}};
{{/imports}}

import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.security.oauth2.jwt.Jwt;
import org.springframework.security.oauth2.jwt.JwtDecoder;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.time.Instant;
import java.util.UUID;

@Slf4j
@Service
@RequiredArgsConstructor
public class RefreshTokenService {

private final JwtDecoder jwtDecoder;
private final RefreshTokenRepository refreshTokenRepository;

@Transactional
public void save(String token) {
try {
Jwt jwt = jwtDecoder.decode(token);
String username = jwt.getSubject();
Instant expiration = jwt.getExpiresAt();

//refreshTokenRepository.deleteByUsername(username);

RefreshToken refreshToken = RefreshToken.builder()
.id(UUID.randomUUID().toString())
.token(token)
.username(username)
.expiration(expiration)
.createdBy(new CustomUser(RequestContext.getUserId(jwt)))
.tenant(new Tenant(RequestContext.getTenantId(jwt)))
.build();

refreshTokenRepository.save(refreshToken);

log.info("Refresh token saved for {}", username);

} catch (Exception e) {
log.error("Error while saving refresh token: {}", e.getMessage(), e);
}
}
}

