package {{package}};
{{#imports}}
	import {{.}};
{{/imports}}
import lombok.RequiredArgsConstructor;
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.*;

@RestController
@RequestMapping("/api/auth")
@RequiredArgsConstructor
public class RegisterController {

private final RegisterUser registerUser;

@PostMapping("/register")
public ResponseEntity<AuthResponseDto> register(@RequestBody AuthRequestDto request) {
	try {
	return ResponseEntity.ok(registerUser.handle(request));
	} catch (Exception e) {
	return ResponseEntity.status(HttpStatus.BAD_REQUEST)
	.body(
	AuthResponseDto
	.builder()
	.token(null)
	.code(0)
	.message("BAD_REQUEST")
	.build()
	);
	}
	}
	}
